body {
    background-color: #4F4F4F;
    color: #FFFFFF;
}
p {
    font-size: 18px;
}
#camera {
    width: 420;
    height: 400;
}
#panel-title {
    border-bottom-style: solid;
    border-width: thin;
    border-color: white;
}
#panel-center {
    border-right-style: dotted;
    border-left-style: dotted;
    border-width: thin;
    border-color: white;
    text-align: justify;
    align-items: center;
}
.dark-text {
    color:black;
}
.btnPaletteRed {
  background-color: #EB5757;
  height: 75px;
  width: 75px;
}
.btnPaletteRed:hover {
  opacity: 0.5;
}
.btnPaletteRed:active {
  border-color: black;
  border-width: thick;
}
.btnPaletteBlue {
  background-color:#2D9CDB;
  height: 75px;
  width: 75px;
}
.btnPaletteBlue:hover {
  opacity: 0.5;
}
.btnPaletteBlue:active {
  border-color: black;
  border-width: thick;
}
.btnPaletteGreen {
  background-color:#219653;
  height: 75px;
  width: 75px;
}
.btnPaletteGreen:hover {
  opacity: 0.5;
}
.btnPaletteGreen:active {
  border-color: black;
  border-width: thick;
}
.btnPaletteYellow {
  background-color:#F2C94C;
  height: 75px;
  width: 75px;
}
.btnPaletteYellow:hover {
  opacity: 0.5;
}
.btnPaletteYellow:active {
  border-color: black;
  border-width: thick;
}
.btnPaletteOrange {
  background-color:#F2994A;
  height: 75px;
  width: 75px;
}
.btnPaletteOrange:hover {
  opacity: 0.5;
}
.btnPaletteOrange:active {
    border-color: black;
    border-width: thick;
}
.btnPaletteWhite {
  background-color:#F2F2F2;
  height: 75px;
  width: 75px;
}
.btnPaletteWhite:hover {
  opacity: 0.5;
}
.btnPaletteWhite:active {
  border-color: black;
  border-width: thick;
}

body {
	display: flex;
	height: 100vh;
}



/******************************************************************************/
/*********************** ANIMATION LOADING ************************************/
/******************************************************************************/
/* Code found here : https://codepen.io/scootman/full/NMZRNa */
.cube {
  margin: auto;
  margin-right: 300px;
  margin-top: 100px;
  font-size: 175px;
  height: 1em;
  width: 1em;
  position: relative;
  transform: rotatex(30deg) rotatey(45deg);
  transform-style: preserve-3d;
  animation: cube-spin 1.5s infinite ease-in-out alternate; }

.side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d; }
  .side::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: currentcolor;
    transform: translatez(0.5em);
    animation: cube-explode 1.5s infinite ease-in-out;
    opacity: .5; }

.side:nth-child(1) {
  transform: rotatey(90deg); }

.side:nth-child(2) {
  transform: rotatey(180deg); }

.side:nth-child(3) {
  transform: rotatey(270deg); }

.side:nth-child(4) {
  transform: rotatey(360deg); }

.side:nth-child(5) {
  transform: rotatex(90deg); }

.side:nth-child(6) {
  transform: rotatex(270deg); }

@keyframes cube-spin {
  0% {
    transform: rotatex(30deg) rotatey(45deg); }
  100% {
    transform: rotatex(30deg) rotatey(405deg); } }
@keyframes cube-explode {
  0% {
    transform: translatez(0.5em); }
  50% {
    transform: translatez(0.75em); }
  100% {
    transform: translatez(0.5em); } }

/*# sourceMappingURL=toto.css.map */
